* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?30818622');
    src: url('./font/fontello.eot?30818622#iefix') format('embedded-opentype'),
         url('./font/fontello.woff?30818622') format('woff'),
         url('./font/fontello.ttf?30818622') format('truetype'),
         url('./font/fontello.svg?30818622#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
@media screen and (max-width: 2048px) {
    .container {
        margin: 0 auto;
        width: 80%;
    }

    .header {
        display: flex;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 8vw;
        align-items: center;
        border-bottom: 1px solid #a1a1a1;
    }
    .header:hover {
        background-color: rgba(25, 25, 25, 0.5);
        transition: 500ms background-color linear;
    }
    .header__container {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .header__logo {
        display: flex;
        width: 20vw;
        height: 8vw;
    }
    .logo__image {
        width: 100%;
        height: 100%;
    }
    .header__menu {
        display: flex;
        width: 50vw;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .header__link {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.1vw;
        padding: 3.2vw 10px;
    }
    .header__link:hover {
        border-bottom: 2px solid #ffffff;
    }

    .main-screen {
        display: flex;
        width: 100%;
        height: 50vw;
        background-image: url("image/main-screen_bg.png");
        background-position: center;
        background-size: cover;
        color: #ffffff;
        font-size: 1.1vw;
        background-repeat: no-repeat;
    }
    .main-screen__container {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-screen__description {
        font-size: 3vw;
        text-align: center;
        padding-bottom: 1em;
    }
    .button_link {
        background-color: #4985FF;
        border: none;
        color: #ffffff;
        padding: 1em 3em;
        text-decoration: none;
        border-radius: 3em;
        cursor: pointer;
    }
    .button_link:hover {
        background-color: #00a651;
    }

    .services {
        display: flex;
        padding-top: 10vw;
        padding-bottom: 10vw;
        flex-direction: column;
    }
    .services__container {
        color: #323232;
        display: flex;
        width: 45vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .services__title {
        font-size: 2.5vw;
        padding-bottom: 5vw;
    }
    .services__description {
        font-size: 1.1vw;
        padding-bottom: 5vw;
    }
    .services__item {
        display: flex;
        flex-direction: row;
        height: 20vw;
    }
    .item__image {
        display: block;
        max-width: 50vw;
        height: 50%;
    }
    .item__container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5vw;
    }
    .item__text {
        padding: 5vw 10px 10px 10px;
        color: #323232;
    }
    .item__title {
        font-size: 1.5vw;
        padding-bottom: 5px;
    }
    .item__description {
        font-size: 1.1vw;
    }
    .button__container {
        display: flex;
        width: 80%;
        font-size: 1.1vw;
        justify-content: center;
        align-content: center;
    }

    .about-us {
        display: flex;
        background-color: #f6f6f8;
    }
    .about-us__head {
        padding: 100px 0 100px 0;
        height: 690px;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        border-bottom: 1px solid #e0e0e0;
    }
    .head__text {
        display: flex;
        flex-direction: column;
        width: 40%;
        justify-content: center;
    }
    .text__title {
        font-size: 2.5em;
    }
    .text__description {
        font-size: 1vw;
        padding: 45px 0 45px 0;
    }
    .text__link {
        font-size: 0.9em;
        color: #4985FF;
    }
    .head__image {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        align-content: center;
    }
    .about-us__numbers {
        display: flex;
        width: 12%;
        padding: 70px 0 70px 0;
        flex-direction: column;
    }
    .numbers__container {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
    }
    .numbers__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
    .numbers__image {
        display: flex;
        align-items: center;
    }
    .numbers__count {
        font-size: 2.5em;
    }
    .numbers__text {
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        align-content: flex-end;
    }

    .specialization {
        display: flex;
        height: 65vw;
    }
    .specialization__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
    }
    .specialization__title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }
    .title__text {
        width: 45%;
        font-size: 2.5vw;
        color: #ffffff;
    }
    .specialization__items {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        height: 700px;
        padding-bottom: 50px;
        border-bottom: 1px solid #e0e0e0;
    }
    .sp-items__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
    }
    .sp-items__image {
        width: 100%;
        height: auto;
    }
    .sp-items__title {
        font-size: 1.5vw;
    }
    .sp-items__description {
        font-size: 1vw;
    }
    .specialization__head {
        position: absolute;
        width: 100%;
        height: 30vw;
        z-index: -1;
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
    }
}